# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc
./temp

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data
# Logs
logs/
*.log
*.log.*
error.log.*
http.log.*
info.log.*

# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

.gitignore
logs/info.log.2025-04-14
logs/error.log.2025-04-14
logs/http.log.2025-04-14
logs/.f5032361bfe2291541fbb4e1d81d3966e1de68a3-audit.json
logs/.5e863d02b1050ac6769b1a1b0364549a96e24b36-audit.json
logs/.afbf1c0427fab218cea968405280b98b23abc44a-audit.json
logs/http.log.2025-04-15
logs/
.env.cloud
.env.dev
google-credentials.json
temp/
temp/audio/
