# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data
# Logs
/logs/ # Ignore the logs directory at the root
logs/info.log.2025-04-14
.gitignore
logs/error.log.2025-04-14
logs/http.log.2025-04-14
logs/.f5032361bfe2291541fbb4e1d81d3966e1de68a3-audit.json
.gitignore
logs/.5e863d02b1050ac6769b1a1b0364549a96e24b36-audit.json
.gitignore
.gitignore
logs/.afbf1c0427fab218cea968405280b98b23abc44a-audit.json
